{% extends 'base.html.twig' %}

 {% block body %}
  <div class="container mx-auto mt-8">
   <h1 class="text-3xl font-bold text-blue-600">Welcome to my Symfony project with Tailwind CSS!</h1>
  </div>
 {% endblock %}